.idea
.gradle/
APP.iml
app/app.iml
app/libs/jdom.jar
base-adapter-library/base-adapter-library.iml
car-library/car-library.iml
java_lib/build/
library/library.iml
local.properties
projectFilesBackup/
res/
